#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #000;
}

section, div {
  box-sizing: border-box;
}

body {
  color: #fff;
}

.logo, .card, .read-the-docs {
  display: none;
}
