* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  display: block;
}
a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: #afa357ea;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  border-color: #000000;
  color: #ffffff;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
